@import "../../Shared/styles/index";

.productItem {
  width: 100%;
  background-color: #fff;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--grey, #b9b9b9);
  }
}
.imageNameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin: 8px;
  }
}
.image {
  width: 56px;
  height: 56px;
  margin-right: 8px;
  @media screen and (min-width: $desktop) {
    width: 64px;
    height: 64px;
  }
}
.name {
  color: #5b5b5b;
  font-family: Kreon;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  @media screen and (min-width: $tablet) {
    width: 250px;
    font-size: 16px;
  }
  @media screen and (min-width: $desktop) {
    width: 347px;
    font-size: 20px;
  }
}
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    margin-left: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 190px;
  }
}
.incrementDecrementContainer {
  display: flex;
  align-items: center;
}
.plus {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid #b9b9b9;

  color: #5b5b5b;
  font-family: Kreon;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.price {
  width: 100px;
  color: #0b6ea5;
  text-align: center;
  font-family: Kreon;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  @media screen and (min-width: $tablet) {
    margin-left: 15px;
    font-size: 20px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 15px;
    font-size: 24px;
  }
}
.del {
  cursor: pointer;
  transition: transform 500ms ease;
  &:hover,
  &:focus {
    transform: scale(1.4);
    color: #fad308;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}
