@import "../../Shared//styles/index";

.title {
  padding: 45px 12px 45px 12px;
  width: 100%;

  color: $color-blue;
  font-family: Kreon;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  @media screen and (min-width: $tablet) {
    padding: 40px;
    font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
    padding: 88px 67px 88px 67px;
  }
}
