@import "../../Shared/styles/index";

.button {
  display: flex;
  padding: 10px 20px 12px 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  margin-top: 36px;

  color: #5b5b5b;
  font-family: Kreon;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #ffe663;

  transition: background 500ms ease;

  &:hover,
  &:focus {
    background: #fad308;
  }
  @media screen and (min-width: $tablet) {
    margin: 0;
    margin-top: 40px;
    margin-right: auto;
    width: 280px;
    height: 72px;
  }
}
