@import "../../Shared/styles/index";

.button {
  display: flex;
  padding: 10px 20px 12px 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  margin-top: 36px;

  color: #5b5b5b;
  font-family: Kreon;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #ffe663;

  transition: background 500ms ease;

  &:hover,
  &:focus {
    background: #fad308;
  }
  @media screen and (min-width: $tablet) {
    margin: 0;
    margin-top: 40px;
    margin-right: auto;
    width: 280px;
    height: 72px;
  }
}
.formText {
  display: none;
}
.formInput:focus:valid ~ .formText {
  display: none;
}

.formInput:focus ~ .formText {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  //   font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color:#9b9faa;;
  top: 40px;
  font-size: 10px;
  color: red;
}