.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;

  @include media-query(tablet) {
    padding-left: 40px;
    padding-right: 40px;
    width: $tablet;
  }
  @include media-query(desktop) {
    padding-left: 50px;
    padding-right: 50px;
    width: $desktop;
  }
}
