@import "../../Shared/styles/index";

.navigatinBurgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 400;
}
.contentMenu {
  position: absolute;
  padding: 8px;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 564px;
  height: 522px;
  background-color: $bg-color-ground;
  @include media-query(tablet) {
    height: 560px;
  }
}
.loginContainer {
  position: relative;
  padding: 16px 16px 8px 16px;

  background-color: $color-blue;
}
.logoStandart {
  width: 84px;
  height: 48px;
}
.closeBurgerMenuButton {
  position: absolute;
  top: 8px;
  left: calc(100% - 30px);

  color: #fff;
  transition: color, transform 500ms ease;
  &:hover {
    color: $color-brand_yellow;
    transform: scale(1.5);
  }
}
.login {
  display: flex;
  align-items: center;

  margin-top: 24px;
}
.loginNav {
  display: flex;
  align-items: center;
}
.loginBurger {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  color: #fff;
  transition: color, transform 500ms ease;
  &:hover {
    color: $color-brand_yellow;
    transform: scale(1.5);
  }
}
.loginText {
  color: #fff;
  font-family: Kreon;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 8px;
}
.navItemBurger {
  
  transition: color 500ms ease;
  &:hover {
    color: $color-brand_yellow;
  }
}
.containerMenu {
  display: flex;
  width: 300px;
  padding: 12px 12px 12px 8px;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid $color-brand_yellow;
  @include media-query(tablet) {
    width: 320px;
  }
}
.AboutUs {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #5b5b5b;
}
.navBurgerMenuText {
  margin-left: 12px;
  width: 219px;
  color: $color-dark_main;
  font-family: Kreon;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition: color 500ms ease;
  &:hover {
    color: $color-brand_yellow;
  }
}
.catalog,
.arrow,
.phone {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: $color-dark_main;

  transition: color 500ms ease;
  &:hover {
    color: $color-brand_yellow;
  }
}
.socialNetworkTitle {
  margin-top: 20px;
  padding: 12px 0px;

  color: #0b6ea5;
  font-family: Kreon;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.socialNetworkIcon {
  width: 30px;
  height: 30px;
  color: #0b6ea5;
  transition: color 500ms ease;
  &:hover {
    color: $color-brand_yellow;
  }
}
.socialNetworkIcon:not(:last-child) {
  margin-right: 12px;
}
