@import "../../Shared/styles/index";

.containerLogOut {
  width: 100%;
  padding: 15px 20px;
  background: rgba(43, 118, 160, 0.85);
}
.nameLogOut {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: end;
  }
}
.logout {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  transition: color 500ms ease;
  &:hover {
    color: $color-brand_yellow;
  }
  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 56px;
    height: 56px;
  }
}

.userName {
  text-align: end;
  color: #fff;
  font-family: Kreon;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}
